<p style="color: green"><%= notice %></p>

<% content_for :title, "Tasks" %>

<h1>Complete Tasks</h1>

<div id="tasks">
  <% if @task.present? %>
    <% @task.each do |task| %>
      <%= render task %>
      <p>
        <%= link_to "Show this task", task %>
        <%= link_to task.status == "ongoing" ? "Mark as Complete" : "Mark as Ongoing", toggle_status_task_path(task) %>
      </p>
    <% end %>
  <% else %>
    <p>No completed tasks found.</p>
  <% end %>
</div>
