<head>
    <link rel="application" type="text/css" href="application.css">
</head>
<body>
    <header>
        <div style="margin-left: 2vw">
            no name
        </div>
        <div>
            no name
        </div>
        <div style="margin-right: 2vw">
            noname
        </div>
    </header>

    <main>
        <div>
            <%= link_to "Task index", index_task_path %>
        </div>
        <div>
            <%= link_to "Show complete Task", complete_task_path %>
            <%= link_to "Show Incomplete Task", Incomplete_task_path %>
        </div>
    </main>

    <footer>
        <div>
            footer part
        </div>
    </footer>
</body>