<head>
    <link rel="application" type="text/css" href="application.css">
</head>
<body>
    <header>
        <div style="margin-left: 2vw">
            no name
        </div>
        <div>
            no name
        </div>
        <div style="margin-right: 2vw">
            Newuser? #link to Created new account
        </div>
    </header>

    <main>
        <div>

        </div>
        <div>
            
        </div>
    </main>

    <footer>
        <div>
            footer part
        </div>
    </footer>
</body>